@media screen and (max-width:480px) {

    .navigation {
        display:list-item;
    }

    h2 {
        font-size: 1.2em;
    }



    .about-section p{
        font-size: 15px;
    }

}

@media screen and (max-width:680px) {

    .about-section {
        flex-direction: column;
    }

    #headshot {
        max-height: 380px;
    }

    #testemonials-container {
        flex-direction: column;
    }

}